@source "../dist/react/";

:root {
  --zfg-base-text: #000;
  --zfg-base-text-description: #525252;
  --zfg-base-primary: #000;
  --zfg-base-primary-hover: #222;
  --zfg-base-primary-active: #444;
  --zfg-base-primary-contrast: #fff;
  --zfg-base-border: #d4d4d4;
  --zfg-base-disabled-foreground: #262626;
  --zfg-base-disabled-background: #f5f5f5;
  --zfg-base-error: #e40014;
}

@utility webkit-text-fill-* {
  -webkit-text-fill-color: --value(--color-*);
}

[data-zfg-form] {
  & input,
  & input::-webkit-outer-spin-button,
  & input::-webkit-inner-spin-button {
    @apply appearance-none;
  }

  & :-webkit-autofill,
  & :-webkit-autofill:hover,
  & :-webkit-autofill:focus,
  & :-webkit-autofill:active {
    -webkit-background-clip: text;
    box-shadow: inset 0 0 20px 20px var(--tw-shadow-color);
    transition: background-color 0s ease-in-out 50000s;
    @apply bg-clip-text border-zfg-primary/50 shadow-zfg-primary/10 dark:border-zfg-primary-dark/50 dark:shadow-zfg-primary-dark/10 webkit-text-fill-zfg-text dark:webkit-text-fill-zfg-text-dark;
  }
}

@theme inline {
  --animate-zfg-fade-in: zfgFadeIn 0.3s linear forwards;

  --color-zfg-text: var(--zfg-text, var(--zfg-base-text));
  --color-zfg-text-description: var(
    --zfg-text-description,
    var(--zfg-base-text-description)
  );
  --color-zfg-primary: var(--zfg-primary, var(--zfg-base-primary));
  --color-zfg-primary-hover: var(--zfg-primary-hover, var(--zfg-base-primary-hover));
  --color-zfg-primary-active: var(--zfg-primary-active, var(--zfg-base-primary-active));
  --color-zfg-primary-contrast: var(
    --zfg-primary-contrast,
    var(--zfg-base-primary-contrast)
  );
  --color-zfg-border: var(--zfg-border, var(--zfg-base-border));
  --color-zfg-disabled-foreground: var(
    --zfg-disabled-foreground,
    var(--zfg-base-disabled-foreground)
  );
  --color-zfg-disabled-background: var(
    --zfg-disabled-background,
    var(--zfg-base-disabled-background)
  );
  --color-zfg-error: var(--zfg-error, var(--zfg-base-error));

  --color-zfg-text-dark: var(
    --zfg-text-dark,
    var(--zfg-base-text-dark, var(--color-zfg-text))
  );
  --color-zfg-text-description-dark: var(
    --zfg-text-description-dark,
    var(--zfg-base-text-description-dark, var(--color-zfg-text-description))
  );
  --color-zfg-primary-dark: var(
    --zfg-primary-dark,
    var(--zfg-base-primary-dark, var(--color-zfg-primary))
  );
  --color-zfg-primary-hover-dark: var(
    --zfg-primary-hover-dark,
    var(--zfg-base-primary-hover-dark, var(--color-zfg-primary-hover))
  );
  --color-zfg-primary-active-dark: var(
    --zfg-primary-active-dark,
    var(--zfg-base-primary-active-dark, var(--color-zfg-primary-active))
  );
  --color-zfg-primary-contrast-dark: var(
    --zfg-primary-contrast-dark,
    var(--zfg-base-primary-contrast-dark, var(--color-zfg-primary-contrast))
  );
  --color-zfg-border-dark: var(
    --zfg-border-dark,
    var(--zfg-base-border-dark, var(--color-zfg-border))
  );
  --color-zfg-disabled-foreground-dark: var(
    --zfg-disabled-foreground-dark,
    var(--zfg-base-disabled-foreground-dark, var(--color-zfg-disabled-foreground))
  );
  --color-zfg-disabled-background-dark: var(
    --zfg-disabled-background-dark,
    var(--zfg-base-disabled-background-dark, var(--color-zfg-disabled-background))
  );
  --color-zfg-error-dark: var(
    --zfg-error-dark,
    var(--zfg-base-error-dark, var(--color-zfg-error))
  );
}

@keyframes zfgFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
